# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
venv312/
.venv/
env/
ENV/

# PlatformIO
.pio/
.pioenvs/
.piolibdeps/

# IDE
.vs/
.vscode/
.idea/
*.swp
*.swo

# Node
node_modules/
npm-debug.log
yarn-error.log

# Database
*.db
*.sqlite

# OS
.DS_Store
Thumbs.db

# Misc
*.log
ss/